.header-main {
    background-color: rgb(202, 199, 199);
    display: flex;
    justify-content: space-between;

    .header-logo {
        display: inline-flex;
        align-self: center;
        margin-left: 15px;
    }
    .header-right-list {
        list-style: none;
        display: flex;
        margin-right: 15px;
        > li {
            margin-right: 15px;
        }
        li {
            display: inline-flex;
            align-items: center;
            
            mat-icon {
                margin-right: 5px;
            }
        }

    }
    .header-nav {
        display: inline-flex;
        align-self: center;
        margin-left: auto;
                
    }
}