<div class="main-footer">
  <div class="guide">
    <p class="guide-title">
      <mat-icon svgIcon="chevron-right"></mat-icon>
      User Guide
    </p>
    <p class="guide-content">
      <mat-icon svgIcon="anchor"></mat-icon>
      Welcome to MySmartCrypto.com, Thanks for your Patience while Prices were loading from multiple exchanges WorldWide
    </p>
    <p class="guide-content">
      <mat-icon svgIcon="anchor"></mat-icon>
      To start with surfing our web portal, Please select a desired COIN from the listed navigation bar just below the company logo. By Default "BitCoin" will be Selected!!
    </p>
    <p class="guide-content">
      <mat-icon svgIcon="anchor"></mat-icon>
      All the Prices from different exchanges can be found in a table format
    </p>
    <p class="guide-content">
      <mat-icon svgIcon="anchor"></mat-icon>
      You can find Smart Buy/Sell Rate below the table with the name and link of exchange. If you wish to buy or sell coin, Please click on the name of Exchange. This will redirect you to exchange site.
    </p>
  </div>
  <div class="disclaimer">
    <p class="disclaimer-title">
      <mat-icon svgIcon="chevron-right"></mat-icon>
      Disclaimer
    </p>
    <p class="disclaimer-content">
       MySmartCrypto.com does not recommend for/against any exchange, the sole purpose of this portal is to display live rates
      of your favourite crypto currency from all coin exchanges available in India or outside India. None of the exchanges listed
      on our site should be considered trusted by default. Users must understand the risks of trading and do their due diligence
      before trading on any exchange.Trading in crypto currency is subject to market, technical and legal risks.
    </p>
  </div>
  <hr>
  <div class="contact-us">
    <p class="contact-us-title">
      <mat-icon svgIcon="contact-mail"></mat-icon>
      <span class="contact-details"> Contact Us: <a href="mailto:mysmartcrypto@gmail.com" target="_top">mysmartcrypto@gmail.com</a> </span> 
    </p>
    <p>Made With Love in INDIA</p>
  </div>
</div>