<div class="left-nav-main">
  <ul #iconList class="left-nav-coin-list wrap">
    <li class="left-nav-coin-item" *ngFor="let coin of coinList" [ngClass]="{'active': selectedItem === coin.key }">
      <a (click)="getSelectedCoin(coin)">
        <img [src]="coin.url">
        <span>{{coin.name}}</span>
      </a>
    </li>
  </ul>
  <!-- <div *ngIf="showIcon">
  <button (click)="showList = !showList">
      {{showList}}
      <mat-icon svgIcon="menu" class="menu-icon"></mat-icon>
    </button>
    <ul #iconList class="left-nav-coin-list" *ngIf="showList">
      <li class="left-nav-coin-item" *ngFor="let coin of coinList" [ngClass]="{'active': selectedItem === coin.key }">
        <a (click)="getSelectedCoin(coin)">
          <img [src]="coin.url">
          <span>{{coin.name}}</span>
        </a>
      </li>
    </ul>
  </div> -->
</div>