.left-nav-main {
    .left-nav-title {
        color: #5c5c7d;
        font-size: 15px;
        margin-left: 5px;
    }
    .left-nav-coin-list {
        list-style: none;
    }
    .left-nav-coin-item {
        margin-bottom: 10px;
        cursor: pointer;
        margin-left: 15%;

        a {
            vertical-align: super;
            img, span {
                vertical-align: middle;
            }
        }
    }
}