example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.cdk-visually-hidden {
    display: none;
}

.example-margin {
  position: absolute;
  margin: 0 100px;
  top: 50%;
  left: 50%;
}