.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 0 30px;

  .table-header {
    color: #79c6d1;
    text-shadow: 1px 1px grey;
    font-size: 18px;
    font-family: monospace;
  }
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.cdk-visually-hidden {
  display: none;
}

.example-margin {
  position: absolute;
  margin: 0 100px;
  top: 50%;
  left: 50%;
}