<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Coin Exchange Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> <strong>Coin Exchange</strong></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Buy Column -->
    <ng-container matColumnDef="buy">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"><strong> Buy Rate </strong></mat-header-cell>
      <mat-cell [ngClass]="{'downBuy': element.downBuy === true, 'upBuy': element.upBuy === true }" *matCellDef="let element"> {{element.buy | number:'.3-3'}} </mat-cell>
    </ng-container>

    <!-- Sell Column --> 
    <ng-container matColumnDef="sell">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"><strong> Sell Rate </strong></mat-header-cell>
      <mat-cell [ngClass]="{'downSell': element.downSell === true, 'upSell': element.upSell === true }" *matCellDef="let element"> {{element.sell | number:'.3-3'}} </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<app-best-price *ngIf="!sendBestPriceData" [data]="tableData"></app-best-price>



