<div *ngIf="!showSpinner" class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Coin Exchange Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> <strong>Coin Exchange</strong></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Buy Column -->
    <ng-container matColumnDef="buy">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"><strong> Buy Rate(INR) </strong></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.buy | number:'.3-3'}} </mat-cell>
    </ng-container>

    <!-- Sell Column --> 
    <ng-container matColumnDef="sell">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"><strong> Sell Rate(INR) </strong></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sell | number:'.3-3'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<!-- <mat-spinner *ngIf="showSpinner" class="example-margin" [color]="warn" [value]="80" [strokeWidth]="5">
</mat-spinner> -->
<app-best-price *ngIf="!showSpinner" [data]="tableData"></app-best-price>



