.app-main {
    .data-group {
        display: flex;
        margin-top: 3px;
        .left-nav {
            width:25%;
            height: 100%;
            background-color: #79c6d1;
            margin-right: 10px;
            box-shadow: 1px 1px 1px #a7cbd0;
        }
        .data-table {
            width: 75%;
            height: 100%;
        }
    }
}