
<div class="best-price-container">
  <div class="best-buy">
    <div class="best-buy-text">
      <p>Smart Buy Rate</p> 
    </div>
    <div class="best-buy-data">
      <a class="best-buy-link" href={{bestBuy.redirect}}>
        <span class="best-buy-name">{{bestBuy.name}}</span>
      </a>
      <span class="best-buy-link">{{bestBuy.buy | number:'.2-2'}}</span>      
    </div>
  </div>

  <div class="best-buy">
    <div class="best-buy-text">
      <p>Smart Sell Rate</p>
    </div>
    <div class="best-buy-data">
      <a class="best-buy-link" href={{bestSell.redirect}}>      
        <span class="best-buy-name">{{bestSell.name}}</span>
      </a>
      <span class="best-buy-link">{{bestSell.sell | number:'.1-1'}}</span>
    </div>
  </div>
</div>
