    
.best-price-container {
    margin-top: 10px;
    display: flex;
    width: 94%;
    margin-left: 30px;
    flex-wrap: wrap;
    .best-buy {
        width: 50%;
        flex: 1;
        min-width: 400px;
    }
    .best-buy-text {
        border: 1px solid #79c6d1;
        border-radius: 25px;
        width: 120px;
        height: 20px;
        margin-left: 30px;
        position: relative;
        top: 10px;
        background-color: #20353e;
        color: #79c6d1;

        p{
            margin: 0;
            padding-left: 10px;
        }
    }

    .best-buy-data {
        border: 1px solid #79c6d1;
        border-radius: 10px;
        height: 60px;
        margin-right: 25px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .best-buy-link {
            text-decoration: none;
            color: #79c6d1;
            text-shadow: 1px 1px grey;
            font-size: 17px;
            font-family: monospace;
        }
    }
}