    
.best-price-container {
    margin-top: 10px;
    display: inline-flex;
    width: 90%;
    margin-left: 30px;
    .best-buy-text {
        border: 1px solid #79c6d1;
        border-radius: 25px;
        width: 120px;
        height: 20px;
        margin-left: 30px;
        position: relative;
        top: 10px;
        background-color: #20353e;
        color: #79c6d1;

        p{
            margin: 0;
            padding-left: 10px;
        }
    }

    .best-buy-data {
        border: 1px solid #79c6d1;
        border-radius: 10px;
        width: 500px;
        height: 60px;
        margin-right: 25px;
        margin-bottom: 20px;
        .best-buy-link {
                text-decoration: none;
                color: #79c6d1;
                text-shadow: 1px 1px grey;
                font-size: 17px;
                font-family: monospace;
        }
        .best-buy-name {
            display: inline-flex;
            padding: 25px;
            margin-right: 17%;
            margin-left: 5%;
        }
    }
}